.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px; /* Smaller font size for contract and other details */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    user-select: none;  
    -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
    -moz-user-select: none;  /* Prevents text selection in Firefox */
    -ms-user-select: none;   
  }
  
  .pageTitle {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    max-height: 20px;
  }
  
  .activeTab {
    font-weight: bold;
  }
  
  .duelList {

    
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
  }
  
  .duelContainer {
    max-height: 80px;
  
    margin: 5px;
    padding: 5px;
    border: 1px solid #706c539a;
    border-radius: 5px;
    text-align: center;


    animation: SlideIn 0.5s forwards; 
  }
  
  @keyframes SlideIn {
    0% {

      transform: translateY(-100px) scaleX(0.75); 
      opacity: 0; 
    }

    50%{
      border: 1px solid #fffb00;
      background-color: #ffe6009d;

  
    }

    100% {
 
      transform: translateY(0) scale(1); /* End position (original) */
      opacity: 1; /* End with full opacity */
    }
  }

  .duelItem {
    margin-bottom: 2px;
  }
  
  .duelDetails div {
    margin-bottom: 6px; /* Increase space between lines for readability */
  }
  

  .winner {
    color: #09ff00;

  }
  
  .loser {
    color: #ff0000;
  }
  
  .greyed {
    color: #657786; 

  }
  
  .duelItem p {
    margin: 0; 
 
  }
  

  
  .duelDetails strong {
    color: #2f3336; 
  }
  