
.loginBtn {
  margin-right: 20px;
  font-size: 1rem;
  position: relative;
  background-color: transparent;
  padding: 10px;
  color: #fafafa;
  font-weight: bolder;
  z-index: 2;
  border: none;
}

.container {
  z-index: 2;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  border-radius: 25px;
  transition: background-color 0.15s ease-in-out;
  height: 100%; /* Optional: Make sure the container stretches fully */
}

.container:hover {
background-color: #1a1d21;
}