
.createDuelContainer {
  font-family: 'Astrolab';
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    border-radius: 16px; /* Rounded corners */
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    animation: Fade 0.35s forwards ease-in; /* Apply animation */
 
  }
  
  @keyframes Fade {
    0% {
      transform: translateX(100px); /* Start position (left) */
      opacity: 0; /* Start with opacity 0 */
    }
    50%{ 
      transform: translateX(0); /* End position (original) */
      
    }
    100% {
 
      opacity: 1; /* End with full opacity */
    }
  }

 
  .message {
    bottom: 25px;
    left:   47px;
    position: relative;
  
    font-size: 0.5rem;
    color: #e7e9ea; /* Light gray for tweet text */
    margin: 0.5rem 0;
    line-height: 1.5;
    word-wrap: break-word; /* Ensures long words or URLs break properly */
    white-space: normal; /* Allows text to wrap */
    animation: Fade 0.75s forwards ease-in; /* Apply animation */
  }
  .createtitle{
    text-align: center;
    position: relative;
    bottom: 10px;
      font-size: 1rem;
      font-weight: bold;
      color: #fff; /* White for display name */
      animation: Fade 0.5s forwards ease-in; /* Apply animation */
  }
  .canceltitle{
    text-align: center;
    position: relative;
    bottom: 10px;
    font-size: 10px;
      font-weight: bold;
      color: #fff; /* White for display name */
      animation: Fade 0.5s forwards ease-in; /* Apply animation */
  }
.cancelcontainer{
  border-radius: 16px; /* Rounded corners */
  border: 1px solid #706c539a;
  padding: 15px;
  word-wrap: break-word; /* Ensures long words or URLs break properly */
  white-space: normal; /* Allows text to wrap */
  margin: 20px;
  animation: Fade 0.55s forwards ease-in; /* Apply animation */
}
  .createDuelForm {
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: Fade 0.55s forwards ease-in; /* Apply animation */
  }
  
  .formGroup {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: Fade 0.45s forwards ease-in; /* Apply animation */
  }
  
  .formGroup label {
    font-weight: bold;
    color: #71767b; /* Light gray for labels */
  }
  
  .formGroup input {
    padding: 12px;
    border: 1px solid #706c539a;
    border-radius: 8px; /* Slightly rounded edges */
    background-color: #0e0e0e; /* Black background */
    color: #ffffff; /* White text */
    font-size: 10px;
  
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .formGroup input::placeholder {
    font-family: 'Astrolab';
    color: #71767b; /* Light gray placeholder text */
  }
  
  .formGroup input:focus {
    
    border-color: #ffd900; /* X's blue accent color */
  }
  .or{
    text-align: center;
    color: #71767b;

  }
  .submitButton {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #706c539a;
    background-color: #00000052;
    color: #71767b;
    backdrop-filter: blur(2px); /* Apply background blur */
    border-radius: 25px; /* Fully rounded edges */
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Astrolab';
    transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
  }
      .submitButton:hover {
        color: white;
        color: #000000;
  
        transform: translateY(-5px); 
        background-color: #ffd900; 
      }
  
  .submitButton:disabled {
    background-color: #1d9bf0; /* X's blue accent color */
    opacity: 0.5; /* Dimmed when disabled */
    cursor: not-allowed;
  }

  .cancelButton {
    padding: 12px;
    font-family: 'Astrolab';
    background-color: #00000052;
    color: white;
    border: 1px solid #706c539a;
    border-radius: 25px; /* Fully rounded edges */
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;


    transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
  }
  
  .cancelButton:hover {

    color: #000000;

    transform: translateY(-5px); 
    background-color: #d61616; /* Slightly darker blue on hover */
  }
  
  .cancelButton:disabled {
    background-color: #d61616; /* X's blue accent color */
    opacity: 0.5; /* Dimmed when disabled */
    cursor: not-allowed;
  }
  .addressWithImage {
    display: flex;
    align-items: center;
    animation: Fade 0.45s forwards ease-in; /* Apply animation */
  }
  
  .addressImage {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Optional: to make the image circular */
    margin-right: 8px; /* Space between the image and the name */
    animation: Fade 0.45s forwards ease-in; /* Apply animation */
  }

 .loadingSpinner{
  text-align: center;
  font-size: 25px
 }

 .spinnerContainer{
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
 }