/* General Styles */
.wrapper {
  background-color: #000; /* Black background */
  min-height: 100vh;
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
  display: flex;
align-items: center;
justify-content: center;
  position: relative;
}



.logoImage {
  width: 75px;            /* Adjust to a size that fits your design */
  height: auto;            /* Automatically adjust height to maintain aspect ratio */
  object-fit: contain;     /* Ensures the logo doesn't get stretched */
  pointer-events: none;    /* Prevents clicking on the image */
  user-select: none;       /* Prevents text selection (and image selection) */
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  -moz-user-select: none;  /* Prevents text selection in Firefox */
  -ms-user-select: none;   /* Prevents text selection in IE/Edge */

}
/* Scrollable content inside mainContent */
.scrollableContent {
  flex-grow: 1; /* Take up remaining space */

  padding-top: 1rem; /* Add spacing below the sticky header */
}

/* Sticky header */
.pageHeaderContainer {
  border-bottom: 1px solid #2f3336;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1;
  background-color: #000; /* Match the background color */
}


/* Main content */
.mainContent {
  min-width: 300px;
  max-width: 750px;
  margin: 0 auto;
 
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;

}


/* Profile container for WalletConnectBtn */
.sideContainer {
  position: relative;
  flex-direction: column;
justify-self: center;
  align-items: flex-start;
  display: flex;
  z-index: 1000;
  background-color: #11111100;
  border-radius: 20px;
  padding: 10px 10px;
  transition: background-color 0.25s;
  width: fit-content;
  margin-bottom: 20px; /* Optional: Add spacing from the bottom */
}

.leftWrapper {
  position: fixed; /* Fixes the position relative to the viewport */
  top: 0;
  left: 0; /* Aligns the wrapper to the left side */
  bottom: 0; /* Ensure it stretches from top to bottom */
  width: 400px; /* Set the width of the leftWrapper */
  display: flex;
  flex-direction: column; /* Ensure contents are arranged from top to bottom */
  align-items: flex-start; /* Aligns the child elements to the left */
  direction: ltr; /* Left-to-right text direction */
  user-select: none;  
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  -moz-user-select: none;  /* Prevents text selection in Firefox */
  -ms-user-select: none;   
}
/* Right wrapper */
.rightWrapper {

  position: fixed; /* Fixes the position relative to the viewport */
  top: 0;
  right: 0; /* Aligns the wrapper to the right side */
  bottom: 0; /* Ensure it stretches from top to bottom */
  width: 400px; /* Set the width of the rightWrapper */
  display: flex;
  flex-direction: column; /* Reverses the column direction to start from the bottom */
  align-items: flex-start; /* Aligns the child elements to the start (right side) */
  direction: rtl; /* Right-to-left text direction */
}
/* Footer Styles */
.footer {
  
  border-top: 1px solid #2f3336;
  display: none; /* Hide the footer by default */
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Mobile Styles */
@media (max-width: 1200px) {
  .leftWrapper,
  .rightWrapper {
    display: none; /* Hides the left and right wrappers on mobile */
  }

  
  .footer {
    display: block; /* Show the footer on mobile */
  }

  .wrapper {
    flex-direction: column; /* Stack the content vertically */
  }

  .leftWrapper,
  .rightWrapper {
    width: 100%; /* Make left and right wrappers full width */
  }

  .mainContent {
    width: 100%; /* Make main content full width */
  }
}
/* Button to trigger CreateDuel */
.createDuelButton {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #2f3336;
  background-color: #00000000;
  color: #71767b;

  border-radius: 25px; /* Fully rounded edges */
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
}
.createDuelButton:hover {
  color: white;
  transform: translateX(-5px); /* Start position (left) */
  background-color: #1a8cd8; /* Slightly darker blue on hover */
}

.cancelDuelButton {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #2f3336;
  background-color: #00000000;
  color: #71767b;

  border-radius: 25px; /* Fully rounded edges */
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
}
.cancelDuelButton:hover {
  color: white;
  transform: translateX(-5px); /* Start position (left) */
  background-color: #da2121; /* Slightly darker blue on hover */
}
/* Modal overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.7); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
}

/* Modal content */
.modalContent {
  background-color: #000000; /* Black background */
  padding: 20px;
  border-radius: 16px; /* Rounded corners */
 z-index: 3;
  max-width: 500px;
  width: 100%;
  position: relative;
  animation: Fade 0.2s forwards ease-in; /* Apply animation */
 
}
  
@keyframes Fade {
  0% {
    transform: translateX(50px); /* Start position (left) */
    opacity: 0; /* Start with opacity 0 */
  }
  50%{ 
    transform: translateX(0); /* End position (original) */
    
  }
  100% {

    opacity: 1; /* End with full opacity */
  }
}

/* Close button */
.closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 55px;
  padding: 10px 13px;
  background-color: #1a1d2100;
  border: none;
  color: #ffffff; /* White text */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.15s ease-in ;
}

.closeButton:hover {
  background-color: #1a1d21b7;
}