/* General Styles */
.wrapper {
  background-color: #000; /* Black background */
  min-height: 100vh;
  color: #fff; /* White text */
  font-family: 'Astrolab';
  display: flex;
align-items: center;
justify-content: center;
  position: relative;
}



.logoImage {
  width: 75px;            /* Adjust to a size that fits your design */
  height: auto;            /* Automatically adjust height to maintain aspect ratio */
  object-fit: contain;     /* Ensures the logo doesn't get stretched */
  pointer-events: none;    /* Prevents clicking on the image */
  user-select: none;       /* Prevents text selection (and image selection) */
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  -moz-user-select: none;  /* Prevents text selection in Firefox */
  -ms-user-select: none;   /* Prevents text selection in IE/Edge */

}
/* Scrollable content inside mainContent */
.scrollableContent {
  flex-grow: 1; /* Take up remaining space */

  padding-top: 1rem; /* Add spacing below the sticky header */
}

/* Sticky header */
.pageHeaderContainer {
  border-bottom: 1px solid #2f3336;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1;
  background-color: #000; /* Match the background color */
}


/* Main content */
.mainContent {

  margin: 0 auto;
 
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;

}


/* Profile container for WalletConnectBtn */
.sideContainer {
  position: relative;
  flex-direction: column;
justify-self: center;
  align-items: flex-start;
  display: flex;
  z-index: 1000;
  background-color: #11111100;
  border-radius: 20px;
  padding: 10px 10px;
  transition: background-color 0.25s;
  width: fit-content;
  margin-bottom: 20px; /* Optional: Add spacing from the bottom */
}

.leftWrapper {
  position: fixed; /* Fixes the position relative to the viewport */
  top: 0;
  left: 0; /* Aligns the wrapper to the left side */
  bottom: 0; /* Ensure it stretches from top to bottom */
  width: 400px; /* Set the width of the leftWrapper */
  display: flex;
  flex-direction: column; /* Ensure contents are arranged from top to bottom */
  align-items: flex-start; /* Aligns the child elements to the left */
  direction: ltr; /* Left-to-right text direction */
  user-select: none;  
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  -moz-user-select: none;  /* Prevents text selection in Firefox */
  -ms-user-select: none;   
}
/* Right wrapper */
.rightWrapper {
  z-index: 3;
  position: fixed; /* Fixes the position relative to the viewport */
  top: 0;
  right: 0; /* Aligns the wrapper to the right side */
  bottom: 0; /* Ensure it stretches from top to bottom */

  display: flex;
  flex-direction: column; /* Reverses the column direction to start from the bottom */
  align-items: flex-start; /* Aligns the child elements to the start (right side) */
  direction: rtl; /* Right-to-left text direction */
}
/* Footer Styles */
.footer {

  border-top: 1px solid #2f3336;
  display: none; /* Hide the footer by default */
  background-color: #00000052;
  backdrop-filter: blur(2px); /* Apply background blur */
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: -160px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: bottom 0.2s ease-out;
}
.footer:hover {
  bottom: 0px;
}

/* Mobile Styles */
@media (max-width: 1200px) {
  .leftWrapper,
  .rightWrapper {
    display: none; /* Hides the left and right wrappers on mobile */
  }

  
  .footer {
    display: block; /* Show the footer on mobile */
  }

  .wrapper {
    flex-direction: column; /* Stack the content vertically */
  }

  .leftWrapper,
  .rightWrapper {
    width: 100%; /* Make left and right wrappers full width */
  }

  .mainContent {
    width: 100%; /* Make main content full width */
  }
}
.createDuelButtonMobile, .cancelDuelButtonMobile, .ButtonMobile {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #706c539a;
  background-color: #00000052;
  color: #71767b;
  backdrop-filter: blur(2px); /* Apply background blur */
  border-radius: 25px; /* Fully rounded edges */
  cursor: pointer;
  font-weight: normal;
  font-family: 'Astrolab';
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
}
.createDuelButtonMobile:hover {
  color: white;
  color: #000000;

  transform: translateY(-5px); 
  background-color: #ffd900; 
}


.cancelDuelButtonMobile:hover {
  color: white;
  color: #000000;

  transform: translateY(-5px);
  background-color: #da2121;
}

.ButtonMobile:hover {
  color: #ffd900;

  transform: translateY(-5px); 
  background-color: #3b8eec; 
}
/* Button to trigger CreateDuel */
.cancelDuelButton {
  left: -5px;
  top: -5.75px;
  position: relative;
  padding: 10px 20px;
  border-top: none;
  border-bottom: 1px solid #706c539a;
  border-left: 1px solid #706c539a;
  border-right: 1px solid #706c539a;
  background-color: #000000;
  color: #71767b;
  font-family: 'Astrolab';
  min-width: 150px;
  max-width: 150px;
  cursor: pointer;
  font-weight: normal;
  font-size: 10px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
}

.createDuelButton, .Button   {
  left: -5px;
  top: -5.75px;
  position: relative;
  padding: 10px 20px;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #706c539a;
  border-right: 1px solid #706c539a;
  background-color: #000000;
  color: #71767b;
  font-family: 'Astrolab';
  min-width: 150px;
  max-width: 150px;
  cursor: pointer;
  font-weight: normal;
  font-size: 10px;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
}

    .Button:hover {
      color: #ffd900;
      font-weight: bold;
      transform: translateX(-5px); 
      background-color: #3b8eec; 
    }

    .createDuelButton:hover {
      color: #000000;
      font-weight: bold;
      transform: translateX(-5px); 
      background-color: #ffd900; 
    }


    .cancelDuelButton:hover {
      color: #000000;
      font-weight: bold;
      transform: translateX(-5px);
      background-color: #da2121;
    }
/* Modal overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  
}


.modalContent {
  border: 1px solid #706c539a;
  background-color: #000000; 

  border-radius: 16px; 
 z-index: 3;
  max-width: 500px;
  width: 100%;
  position: relative;
  animation: Fade 0.2s forwards ease-in;
 
}
  
@keyframes Fade {
  0% {
    transform: translateX(50px); 
    opacity: 0; 
  }
  50%{ 
    transform: translateX(0); 
    
  }
  100% {

    opacity: 1;
  }
}


.closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 55px;
  padding: 10px 13px;
  font-weight: bold;
  background-color: #00000052;
  border: 1px solid #706c539a;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, ;
}

.closeButton:hover {
  color: white;
  color: #000000;

  transform: scale(1.2);
  background-color: #d61616; /* Slightly darker blue on hover */
}
